@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?g2qajm');
    src:    url('fonts/icomoon.eot?g2qajm#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?g2qajm') format('truetype'),
        url('fonts/icomoon.woff?g2qajm') format('woff'),
        url('fonts/icomoon.svg?g2qajm#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-git:before {
    content: "\e602";
}
.icon-mysql:before {
    content: "\e604";
}
.icon-github:before {
    content: "\e609";
}
.icon-wordpress:before {
    content: "\e60b";
}
.icon-window:before {
    content: "\e60f";
}
.icon-apple:before {
    content: "\e611";
}
.icon-linux:before {
    content: "\e612";
}
.icon-github_logo:before {
    content: "\e617";
}
.icon-node:before {
    content: "\e618";
}
.icon-node_logo:before {
    content: "\e619";
}
.icon-ember:before {
    content: "\e61b";
}
.icon-npm:before {
    content: "\e61e";
}
.icon-html5:before {
    content: "\e636";
}
.icon-drupal:before {
    content: "\e642";
}
.icon-bootstrap:before {
    content: "\e647";
}
.icon-css3:before {
    content: "\e649";
}
.icon-sass:before {
    content: "\e64b";
}
.icon-grunt:before {
    content: "\e64c";
}
.icon-bower:before {
    content: "\e64d";
}
.icon-javascript:before {
    content: "\e64e";
}
.icon-jquery:before {
    content: "\e650";
}
.icon-coffee:before {
    content: "\e651";
}
.icon-backbone:before {
    content: "\e652";
}
.icon-angular:before {
    content: "\e653";
}
.icon-less:before {
    content: "\e658";
}
.icon-gulp:before {
    content: "\e663";
}
.icon-atom:before {
    content: "\e664";
}
.icon-js:before {
    content: "\e681";
}
.icon-composer:before {
    content: "\e683";
}
.icon-code:before {
    content: "\e696";
}
.icon-responsive:before {
    content: "\e697";
}
.icon-dreamweaver:before {
    content: "\e69c";
}
.icon-sublime:before {
    content: "\e6aa";
}
.icon-illustrator:before {
    content: "\e6b4";
}
.icon-photoshop:before {
    content: "\e6b8";
}
.icon-jade:before {
    content: "\e90d";
}
.icon-php:before {
    content: "\f135";
}
.icon-creativeCloud .path1:before {
    content: "\e900";
    color: rgb(255, 255, 255);
}
.icon-creativeCloud .path2:before {
    content: "\e901";
    margin-left: -1.3603515625em;
    color: rgb(0, 0, 0);
}
.icon-creativeCloud .path3:before {
    content: "\e902";
    margin-left: -1.3603515625em;
    color: rgb(255, 255, 255);
}
.icon-creativeCloud .path4:before {
    content: "\e903";
    margin-left: -1.3603515625em;
    color: rgb(255, 255, 255);
}
.icon-linkedin:before {
    content: "\e904";
}

